<!-- <form>
    <div class="form-group form-inline">
        Full text search: <input class="form-control ml-2" type="text" [formControl]="filter" />
    </div>
</form> -->

<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>CSI</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let application of applications">
            <td>{{application.name}}</td>
            <td>{{application.csi}}</td>
        </tr>
    </tbody>
</table>